<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS426_Final_Project"
        tools:targetApi="31">
        <activity
            android:name=".FailScreenActivity"
            android:exported="false" />

        <service
            android:name=".MainScreen.Clock.ClockService"
            android:exported="false" />

        <activity
            android:name=".CongratulationScreenActivity"
            android:exported="false"></activity>
        <activity
            android:name=".WelcomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.ProfileScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MainScreen.MainScreenActivity"
            android:exported="false" />
        <activity
            android:name=".LoginScreenActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpScreenActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

    <service
        android:name=".MainScreen.Clock.ClockService"
        android:exported="false" />

    <activity
        android:name=".CongratulationScreenActivity"
        android:exported="false" />
    <activity
        android:name=".MainScreen.AddNewTagActivity"
        android:exported="false" />
    <activity
        android:name=".WelcomeScreenActivity"
        android:exported="false" />
    <activity
        android:name=".StoreScreen.StoreScreenActivity"
        android:exported="false" />
    <activity
        android:name=".MainScreen.MainScreenActivity"
        android:exported="false" />


    <activity
        android:name=".FailScreenActivity"
        android:exported="false" />
    <activity
        android:name=".StatisticScreen.StatisticScreenActivity"
        android:exported="false" />
    <activity
        android:name=".SignUpScreenActivity"
        android:exported="false" />
    <activity
        android:name=".RankingScreen.RankingScreenActivity"
        android:exported="false"/>
    <activity
        android:name=".LoginScreenActivity"
        android:exported="false"/>
    <activity
        android:name=".SplashScreenActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="com.yourpackage.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>
</application>

</manifest>